<html lang="en">
  <head>
    <!-- Head section remains the same -->
    <link rel="stylesheet" href="/css/recipe.css" />
    <!-- Link to Font Awesome CDN -->
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.15.4/css/all.css"
    />
    <!-- Link to Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/5.4.0/css/bootstrap.min.css"
    />
  </head>
  <body>
    <header>
      <!-- Header section remains the same -->
      ...
    </header>
    <nav class="navigation-bar">
      <div class="section-1">
        <ul class="section-1-menu">
          <li>Home</li>
          <li class="dropdown">
            <a href="javascript:void(0)" class="dropbtn">Meals</a>
            <div class="dropdown-content">
              <a href="#" onclick="filterByParam('List_All')">All Meals</a>
              <a href="#" onclick="filterByParam('appetizer')">Appetizers</a>
              <a href="#" onclick="filterByParam('entree')">Entrees</a>
              <a href="#" onclick="filterByParam('side')">Sides</a>
              <a href="#" onclick="filterByParam('dessert')">Desserts</a>
              <a href="#" onclick="filterByParam('drinks')">Drinks</a>
            </div>
          </li>
          <li class="dropdown">
            <a href="javascript:void(0)" class="dropbtn">Cuisine</a>
            <div class="dropdown-content">
              <a href="#" onclick="filterByParam('List_All')">All Cuisines</a>
              <a href="#" onclick="filterByParam('Western')">Western</a>
              <a href="#" onclick="filterByParam('European')">European</a>
              <a
                href="#"
                onclick="filterByParam('Mediterranean')"
              >Mediterranean</a>
              <a href="#" onclick="filterByParam('Asian')">Asian</a>
            </div>
          </li>
        </ul>
      </div>
      <div class="section-2">
        <ul class="section-2-menu">
          {{#if isLoggedIn}}
            <!-- may need to sync user_id variable -->
            <a onclick="dashboardClick({{userId}})">Dashboard</a>
            </li>
            <li>Profile</li>
            <li>Logout</li>
          {{else}}
            <!-- temp only to see changes while waiting for user auth -->
            <a onclick="dashboardClick({{userId}})">Login</a>

            <li>Signup</li>
          {{/if}}
        </ul>
      </div>
    </nav>
    {{{body}}}
    <section>
      <h1>Recipes</h1>
      <div class="row">
        {{#each recipes}}
           <div class="col-sm-4">
            <div class="slender-card">
              <div class="card-body" onclick="recipeClick({{this.recipe_id}})">
                <h5 class="card-title">Recipe Name:</h5>
                <p class="card-text">{{this.title}}</p>
                <h5 class="card-title">Type:</h5>
                <p class="card-text">{{this.meal_type}}</p>
                <h5 class="card-title">Cuisine:</h5>
                <p class="card-text">{{this.cuisine}}</p>
                <h5 class="card-title">Servings:</h5>
                <p class="card-text">{{this.servings}}</p>
                <h5 class="card-title">Added By:</h5>
                <p class="card-text">{{this.user_id}}</p>
              </div>
              <button
                type="button"
                class="btn btn-outline-secondary heart-button"
                data-recipe-id="{{this.recipe_id}}"
                  data-user-id="{{userId}}"
              >
                <i class="far fa-heart heart-icon"></i>
              </button>
            </div>
          </div> 
        {{/each}}
      </div>
    </section>
    <script src="/js/recipeClient.js"></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/5.4.0/js/bootstrap.bundle.min.js"
    ></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  </body>
</html>