<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Recipes</title>
    <!-- Custom CSS -->
    <style>
      /* Custom styles */ body { font-family: Arial, sans-serif;} .recipe-card { background-color: #fff;
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); transition: box-shadow 0.3s
      ease-in-out; } .recipe-card:hover { box-shadow: 0 6px 8px rgba(0, 0, 0,
      0.2); } .heart-button { position: absolute; top: 10px; right: 10px;
      z-index: 1; }
    </style>
  </head>
  <body>

    <!-- Navbar -->
    {{!-- <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">Recipes</a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#">Home</a>
            </li>
            <li class="nav-item dropdown">
              <a
                class="nav-link dropdown-toggle"
                href="#"
                id="navbarDropdown"
                role="button"
                data-bs-toggle="dropdown"
                aria-expanded="false"
              >
                Meals
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item" href="#" onclick="filterByParam('List_All')">All Meals</a></li>
                <li><a class="dropdown-item" href="#" onclick="filterByParam('appetizer')">Appetizers</a></li>
                <li><a class="dropdown-item" href="#" onclick="filterByParam('entree')">Entrees</a></li>
                <li><a class="dropdown-item" href="#" onclick="filterByParam('side')">Sides</a></li>
                <li><a class="dropdown-item" href="#" onclick="filterByParam('dessert')">Desserts</a></li>
                <li><a class="dropdown-item" href="#" onclick="filterByParam('drinks')">Drinks</a></li>
              </ul>
            </li>
            <li class="nav-item dropdown">
              <a
                class="nav-link dropdown-toggle"
                href="#"
                id="navbarDropdown"
                role="button"
                data-bs-toggle="dropdown"
                aria-expanded="false"
              >
                Cuisine
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item" href="#" onclick="filterByParam('List_All')">All Cuisines</a></li>
                <li><a class="dropdown-item" href="#" onclick="filterByParam('Western')">Western</a></li>
                <li><a class="dropdown-item" href="#" onclick="filterByParam('European')">European</a></li>
                <li><a class="dropdown-item" href="#" onclick="filterByParam('Mediterranean')">Mediterranean</a></li>
                <li><a class="dropdown-item" href="#" onclick="filterByParam('Asian')">Asian</a></li>
              </ul>
            </li>
          </ul>
          <!-- Welcome message -->
          {{#if isLoggedIn}}
            <span class="navbar-text me-3">Welcome, {{user}}</span>
          {{/if}}
          <!-- Dashboard link -->
          {{#if isLoggedIn}}
            <a
              class="btn btn-outline-primary me-2"
              href="#"
              onclick="dashboardClick({{userId}})"
            >Dashboard</a>
          {{/if}}
          <!-- Search bar -->
          <form class="d-flex">
            <input
              id="search-input"
              class="form-control me-2"
              type="search"
              placeholder="Search recipes..."
              aria-label="Search"
            />
            <button
              id="search-button"
              class="btn btn-outline-success"
              type="button"
              onclick="searchRecipes()"
            ><i class="fas fa-search"></i></button>
          </form>
        </div>
      </div>
    </nav> --}}

    <!-- Recipe Cards -->
    <div class="container mt-4">
      <div class="row">
        {{#each recipes}}
          <div class="col-md-4 mb-4">
            <div class="card recipe-card">
              <img
                src="https://via.placeholder.com/300"
                class="card-img-top"
                alt="Recipe Image"
              />
              <div class="card-body" onclick="recipeClick({{this.recipe_id}})">
                <h5 class="card-title">Recipe Name:</h5>
                <p class="card-text">{{this.title}}</p>
                <h5 class="card-title">Type:</h5>
                <p class="card-text">{{this.meal_type}}</p>
                <h5 class="card-title">Cuisine:</h5>
                <p class="card-text">{{this.cuisine}}</p>
                <h5 class="card-title">Servings:</h5>
                <p class="card-text">{{this.servings}}</p>
                <h5 class="card-title">Added By:</h5>
                <p class="card-text">{{this.user_id}}</p>
              </div>
              <button
                  type="button"
                  class="btn btn-outline-secondary heart-button"
                  data-recipe-id="{{this.recipe_id}}"
                  data-user-id="{{userId}}"
              >
                  <i class="fas fa-heart heart-icon {{#if this.isFavorite}}text-danger{{/if}}"></i>
              </button>
            </div>
            
          </div>
        {{/each}}
      </div>
    </div>

    <!-- Bootstrap JS bundle -->
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/5.4.0/js/bootstrap.bundle.min.js"
    ></script>
    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <!-- Your custom script -->
    <script src="/js/recipeClient.js"></script>
  </body>
</html>